@charset "UTF-8";
/* CSS Document */

/* ROUND CORNER BOX */
.roundcorner_box {
	background-color: #E8E3DB;
	padding: 0;
	margin: 0 0 1em 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.roundcorner_box h3 {	/* DEFAULT LABEL FOR TOP OF BOX. H3 CLASSES USED FOR DIFFERENT COLORS */
	font-family: sans-serif;
	margin: 0;
	padding: .3em 0;
	text-align: center;
	color: #FFF;
	background-color: #6194E8;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.roundcorner_footer {
	color: #000;
	background-color: #D6D1CA;
	padding: .3em 0;
	margin: 0;
	text-align: center;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.roundcorner_footer a:link, .roundcorner_footer a:visited, .roundcorner_footer a:hover {
	font-size: 14px;
	font-weight: bold;
}
.roundcorner_text {
	padding: .5em .8em .8em;
	margin: 0;
}
.roundcorner_text p, .roundcorner_text h4, .roundcorner_text h5 {
	color: #000;
	background-color: transparent;
	padding: 0 0 .5em;
	margin: 0;
}
.roundcorner_text p {
	line-height: 1.5em;
}
.roundcorner_text h4, .roundcorner_text h5 {
	line-height: 1.4em;
} 
.roundcorner_text h5 {
	font-weight: bold;
	font-style: normal;
} 
.roundcorner_text ul, .roundcorner_text ol {
	padding: 0 0 1em 0;
	margin: 0 0 0 2.5em;
}
h3.h3_roundcorner_green {
	background-color: #88B84A;
}
h3.h3_roundcorner_orange {
	background-color: #F90;
}
